<!doctype html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="static\aboutus.css">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="post">
<div class="date">MEDIXA.COM</div>	
<h2>About Us</h2>
<p class="quote">	How often have you heard a bunch of misfits come together to build a useful product for the society! We, a group of 3 Computer Engineers, have come together to build an Automated Healthcare System using an AI based Chatbot.
	<br>
Yash Gupta: A talented engineer who excels in backend development and python coding has contributed handsomely in the development of our chatbot named MEDIXA.
<br>
Harsh Doshi: Possessing an imaginative mind, he is the web developer and handled product design
<br>
Vatsal Kadakia: Every group needs a member responsible for presentations and management of the product. Vatsal has also contributed to web development as well.	</p>

<p>	Our main aim was to build a product which is free of cost and helpful for the society. Reason behind choosing to develop a healthcare website was to implement various technologies that can make a user/patient to easily access resources   	</p>
</div>

<hr>

</body>
</html>